<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.footsalhaja.mapper.member.MemberMapper">
	 <select id="" resultType="com.footsalhaja.domain.member.MemberDto">
		 SELECT nickName FROM member;
	 </select>
 
 </mapper>