<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.footsalhaja.mapper.academy.AcademyMapper">
 
 	<insert id="insert" useGeneratedKeys="true" keyProperty="ab_number">
	INSERT INTO academyBoard (ab_category, ab_title, ab_content, member_userId)
	VALUES (#{ab_category}, #{ab_title}, #{ab_content}, #{member_userId})
	
	</insert>
	
	<select id="list" resultType="com.footsalhaja.domain.academy.BoardDto">
	SELECT 
		ab_number,
		ab_category,
		ab_title,
		ab_content,
		member_userId,
		ab_insertDatetime
		
	FROM academyBoard
	ORDER BY ab_number DESC
	</select>
 
 </mapper>
  